# .gitignore - Fichiers à ne PAS versionner

# Environnement Python
__pycache__/
*.pyc
.venv/
.env
.env.*

# Modèles ML
models/*.pkl

# Fichiers OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Images générées
*.png
!figures/*.png"models/model.pkl" 
